html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    box-sizing: border-box
}

*,*::after,*::before {
    box-sizing: inherit
}

.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto
}

.container::after {
    clear: both;
    content: "";
    display: table
}

 .social-networks li {
        float:left;
        display: block;
}

@media screen and (max-width: 5000px) and (min-width: 641px) {
    .social-networks li {
        margin-right: 2.35765%;
        width: 31.76157%;
    }

    .social-networks li:last-child {
        margin-right: 0;
    }

    .social-networks li:nth-child(3n) {
        margin-right: 0;
    }

    .social-networks li:nth-child(3n+1) {
        clear: left;
    }
}

@media screen and (max-width: 640px) {
    .social-networks li {
        margin-right: 2.35765%;
        width: 31.76157%
    }

    .social-networks li:last-child {
        margin-right: 0;
    }

    .social-networks li:nth-child(3n) {
        margin-right: 0;
    }

    .social-networks li:nth-child(3n+1) {
        clear: left;
    }
}

header, .social-networks, footer {
    display: block;
}

header::after,.social-networks::after,footer::after {
    clear: both;
    content: "";
    display: table;
}

.posts {
    display: block;
}

.posts::after {
    clear: both;
    content: "";
    display: table
}

.posts li {
    display: block
}

.posts li::after {
    clear: both;
    content: "";
    display: table
}

@media screen and (max-width: 5000px) and (min-width: 641px) {
    .posts li time {
        float:left;
        display: block;
        margin-right: 7.42297%;
        width: 19.43277%
    }

    .posts li time:last-child {
        margin-right: 0
    }

    .posts li a {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 73.14426%
    }

    .posts li a:last-child {
        margin-right: 0
    }
}

@media screen and (max-width: 640px) {
    .posts li time {
        float:left;
        display: block;
        margin-right: 5.85151%;
        width: 15.3188%
    }

    .posts li time:last-child {
        margin-right: 0
    }

    .posts li a {
        float: left;
        display: block;
        margin-right: 5.85151%;
        width: 78.8297%
    }

    .posts li a:last-child {
        margin-right: 0
    }
}

body {
    background-color: #ad41ad;
    color: #fff;
    font: 300 14pt/1.4em "Vollkorn",sans-serif
}

h1,h2,h3,h4 {
    font-family: "Ubuntu",serif
}

.container {
    margin-bottom: 1em;
    margin-top: 2em
}

@media screen and (max-width: 640px) {
    .container {
        margin-top:1.2em
    }
}

header {
    margin-bottom: 2.5em;
    text-align: center
}

@media screen and (max-width: 640px) {
    header {
        font-size:.5em
    }
}

header h1 {
    font-size: 5em;
    font-variant: small-caps;
    line-height: 1.4em
}

header h1 a {
    color: #fff;
    text-decoration: none
}

header h2 {
    font: 100 1.4em "Vollkorn",sans-serif;
    color: #fff
}

.notice {
    background-color: #e9b600;
    padding: .5em;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%
}

@media screen and (max-width: 640px) {
    .notice {
        font-size:.6em;
        line-height: 1.5em
    }
}

.notice,.notice a {
    color: #695200
}

.social-networks li {
    font-size: 1.75em;
    margin-bottom: 1em;
    text-align: center
}

.social-networks li span.name {
    display: none
}

.social-networks li a {
    text-decoration: none;
    color: #fff
}

@media screen and (max-width: 640px) {
    .social-networks li {
        font-size:1.25em
    }
}

footer {
    opacity: 0.6;
    text-align: center
}

@media screen and (max-width: 640px) {
    footer {
        font-size:.6em
    }
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

.posts li {
    margin-bottom: 1em
}

@media screen and (max-width: 640px) {
    .posts li {
        padding:0 1em
    }
}

.posts li time {
    opacity: 0.6;
    text-align: right
}

@media screen and (max-width: 640px) {
    .posts li time {
        margin-top:.2em;
        font-size: .7em;
        line-height: 1.4em
    }
}

.posts li a {
    color: #fff
}

@media screen and (max-width: 640px) {
    article {
        font-size:.8em;
        padding: 0 1em
    }
}

article a {
    color: #fff
}

article h1 {
    font-size: 2.5em
}

article p {
    margin-bottom: 1em
}

article code {
    font-size: .9em;
    font-family: "Droid Sans Mono",monospace
}
